<div id="content">
    <h1>Best Winter Trips</h1>
    <div id="line"></div>
    <div class="container1">
        <div class="wrap">
            <div class="cont">
                <img class="pic" src="https://www.ski-austria.com/images/schladming/schladming-wp.jpg" alt="">
                <h2 class="carousel-caption">Schladming, Austria</h2>
            </div>
        </div>
        <div class="wrap">
            <div class="cont col-md-10">
                <img class="pic" src="https://www.ski-austria.com/images/schladming/schladming-wp.jpg" alt="">
                <h2 class="carousel-caption">Schladming, Austria</h2>
            </div>
        </div>
        <div class="wrap">
            <div class="cont">
                <img class="pic" src="https://www.ski-austria.com/images/schladming/schladming-wp.jpg" alt="">
                <h2 class="carousel-caption">Schladming, Austria</h2>
            </div>
        </div>
        <div class="wrap">
            <div class="cont">
                <img class="pic" src="https://www.ski-austria.com/images/schladming/schladming-wp.jpg" alt="">
                <h2 class="carousel-caption">Schladming, Austria</h2>
            </div>
        </div>
        <div class="wrap">
            <div class="cont">
                <img class="pic" src="https://www.ski-austria.com/images/schladming/schladming-wp.jpg" alt="">
                <h2 class="carousel-caption">Schladming, Austria</h2>
            </div>
        </div>
        <div class="wrap">
            <div class="cont">
                <img class="pic" src="https://www.ski-austria.com/images/schladming/schladming-wp.jpg" alt="">
                <h2 class="carousel-caption">Schladming, Austria</h2>
            </div>
        </div>
    </div>
</div>